/* Background colors for debugging */
#main {
  background-color: red;
}
#sidebar-first {
  background-color: teal;
}
#sidebar-second {
  background-color: #ccc;
}
#header {
  background-color: #999;
}
#footer {
  background-color: #800;
}
