/*
 * Basic grid based on the SASS adaptation of Blueprint's grid by Chris
 * Eppstein (https://github.com/chriseppstein/compass/), but removing
 * support for legacy class-based HTML schemes and deprecated functionality.
 */
@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";

// The number of columns in the grid.
$grid-columns: 12 !default;

// The width of a column
$grid-width: 60px !default;

// The amount of margin between columns
$grid-margin: 20px !default;

// The width of a column including the margin.
$grid-outer-width: $grid-width + $grid-margin;

// The width of the container.
$container-size: $grid-outer-width * $grid-columns - $grid-margin;


// A container for your columns.
//
// #### Note:
// If you use this mixin without the class and want to support ie6
// you must set text-align left on your container element in an IE stylesheet.
@mixin container {
  width: $container-size;
  margin: 0 auto;
  @include clearfix;
}


// The last column in a row needs this mixin or it will end up
// on the next row in some browsers.
@mixin last {
  margin-right: 0;
}

// Use this mixins to set the width of n columns.
@mixin column($n, $last: false) {
  @include column-base($last);
  width: span($n);
}

// Return the width in pixels of `$n` columns.
@function span($n) {
  @return $grid-width * $n + $grid-margin * ($n - 1);
}


// The basic set of styles needed to make an element
// behave like a column:
//
// * floated to left
// * gutter margin on the right (unless the last column)
// * Some IE fixes
//
// #### Note:
// This mixin gets applied automatically when using `+column`
// so you probably don't need to use it directly unless
// you need to deviate from the grid or are trying
// to reduce the amount of generated CSS.
@mixin column-base($last: false) {
  @include float-left;
  @if $last {
    @include last; 
  }
  @else {
    margin-right: $grid-margin;
  }
  * html & {
    overflow-x: hidden;
  }
}


// Mixin to a column to append n empty columns to the right
// by adding right padding to the column.
@mixin append($n) {
  padding-right: $grid-outer-width * $n;
}


// Mixin to a column to append n empty columns to the left
// by adding left padding to the column.
@mixin prepend($n) {
  padding-left: $grid-outer-width * $n;
}


// Adds trailing margin.
@mixin append-bottom($amount: 1.5em) {
  margin-bottom: $amount;
}


// Adds leading margin.
@mixin prepend-top($amount: 1.5em) {
  margin-top: $amount;
}


// Base styles that make it possible to pull an element to the left.
// #### Note:
// This mixin gets applied automatically when using `+pull`
// so you probably don't need to use it directly unless
// you need to deviate from the grid or are trying
// to reduce the amount of generated CSS.
@mixin pull-base {
  @include float-left;
  position: relative;
}


// The amount of pulling for element to the left.
// #### Note:
// This mixin gets applied automatically when using `+pull`
// so you probably don't need to use it directly unless
// you need to deviate from the grid or are trying
// to reduce the amount of generated CSS.
@mixin pull-margins($n, $last: false) {
  @if $last {
    margin-left: -$grid-outer-width * $n + $grid-margin; 
  }
  @else {
    margin-left: -$grid-outer-width * $n;
  }
}


// Moves a column `n` columns to the left.
//
// This mixin can also be used to change the display order of columns.
//
// If pulling past the last (visually) element in a row,
// pass `true` as the second argument so the calculations can adjust
// accordingly.
@mixin pull($n, $last: false) {
  @include pull-base;
  @include pull-margins($n, $last);
}


@mixin push-base {
  @include float-left;
  position: relative;
}


@mixin push-margins($n) {
  margin: 0 (-$grid-outer-width * $n) 1.5em $grid-outer-width * $n;
}


// mixin to a column to push it n columns to the right
@mixin push($n) {
  @include push-base;
  @include push-margins($n);
}


// Border on right hand side of a column.
@mixin border($border-color: $border-color, $border-width: 1px) {
  padding-right: $grid-margin / 2 - $border-width;
  margin-right: $grid-margin / 2;
  border-right: #{$border-width} solid #{$border-color};
}


// Border with more whitespace, spans one column.
@mixin colborder($border-color: $border-color, $border-width: 1px) {
  padding-right: floor(($grid-width + 2 * $grid-margin - $border-width) / 2);
  margin-right: ceil(($grid-width + 2 * $grid-margin - $border-width) / 2);
  border-right: #{$border-width} solid #{$border-color};
}


// Mixin this to an hr to make a horizontal ruler across a column.
@mixin colruler($border-color: #dddddd) {
  background: $border-color;
  color: $border-color;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}


// Mixin this to an hr to make a horizontal spacer across a column.
@mixin colspacer {
  @include colruler;
  background: white;
  color: white;
  visibility: hidden;
}  