/* Drupal 7 Sassy-Framework
     -- Based on André Griffin's Framework theme
------------------------------------------------
[Table of contents]

 0.Imports
 1.Default Variables
 2.Global
 3.Responsive Layout
  3a.Phone layout
  3b.Intermediate Layout
  3c.Tablet Layout
  3d.Desktop Layout
 6.Header
 7.Navigation
 8.Nodes
 9.Comments
10.Blocks
11.Footer
12.Custom Styling

------------------------------------------------*/

/**
 * 0.IMPORTS
 */

/* Uncomment the following line if you have custom variable overrides */
/* @import "custom-variables"; */

/* There can be only one... */
@import "compass/reset";

/* Import Compass functionality (http://compass-style.org/reference/compass/) */
/* Uncomment the following line if you wish to use all Compass functionality:
@import "compass/compass";
*/

/* Import Compass CSS3 mixins (http://compass-style.org/reference/compass/css3/) */
@import "compass/css3/*";

/* Import basic grid */
@import "grid";

/* Vertical rhythm */
@import "compass/typography/vertical_rhythm";

/**
 * 1.DEFAULT VARIABLES
 */

/* Colors */
$color-link = #069 !default;
$color-link-hover = #39f !default;
$color-link-active = $color-link-hover !default; 
$color-link-visited = $color-link !default;
$color-background = #fff !default;
$color-text = #222 !default;
$color-header = #222 !default; 
$color-primary = #666 !default;
$color-secondary = #999 !default;
$color-highlight = #800 !default;
$color-nav = #069 !default;
$color-nav-bkgd = #FFF !default;
$color-nav-highlight = #39f !default;
$color-nav-bkgd-highlight = #CCC !default;

/* Typography */
$font-text = "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif !default;
$font-header = "Helvetica Neue", Helvetica, Arial, sans-serif !default;

/**
 * 2.GLOBAL
 */
/* Vertical Rhythm */
@include establish-baseline();
body {
  background: $color-background;
  color: $color-text;
  font-family: $font-text;
  margin: 0;
  padding: 0;
}
h1 {
  $font-size = 40px;
  /* Include lines-for-font-size here because the type gets mangled when
   * when passed as a parameter. */
  @include adjust-font-size-to($font-size, lines-for-font-size($font-size));
  font-weight: normal;
}
h2 {
  $font-size = 32px;
  @include adjust-font-size-to($font-size, lines-for-font-size($font-size));
  font-weight: normal;
}
h3 {
  $font-size = 28px;
  @include adjust-font-size-to($font-size, lines-for-font-size($font-size));
  font-weight: normal;
}
h4, h5, h6 {
  $font-size = 24px;
  @include adjust-font-size-to($font-size, lines-for-font-size($font-size));
  font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  font-style: normal;
  color: $color-header;
  @include trailer();
  @include leader();
}
p {
  &:first-child {
    @include leader;  
  }
  @include trailer;
}
a { 
  color: $color-link;
  text-decoration: none;
  &:visited {
    color: $color-link-visited;
  }
  &:active {
    color: $color-link-active;
    outline: none;
  }
  &:focus: {
    color: $color-link;
    outline: thin dotted;
  }
  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
    outline: none;
  }
}
.sidebar {
  @include adjust-font-size-to(13px, 1);
}

/* apply common styling after reset.css */
/* From Framework's style.css */
li ul, li ol {  margin: 0; }
ul, ol {  margin: 0 1.5em 1.5em 0;  padding-left: 1.5em; }
ul {  list-style-type: disc; }
ol {  list-style-type: decimal; }
dl {  margin: 0 0 1.5em 0; }
dl dt {  font-weight: bold; }
dd {  margin-left: 1.5em; }
hr {  background: #666;  border: none;  clear: both;  float: none;  height: 1px;  margin: 0 0 1.4375em;  width: 100%; }
fieldset {  border: 1px solid #ccc;  margin: 0 0 1.4375em;  padding: 1.5em; }
table {  margin-bottom: 1.5em;  width: 100%; }
th, tr, td {  vertical-align: middle; }
th { padding-right: 1em; }
.sticky-header th, .sticky-table th {  border-bottom: 3px solid #ccc;  padding-right: 1em;  text-align: left; }

/**
 * 3.LAYOUT
 */

/* Apply clearfix to these areas, used to be 'class="clearfix"' in the HTML */
#container, header, nav, section, aside, footer, article
#main-menu, #secondary-menu, .tabs-wrapper, .user-signature {
  @include clearfix();
}

/*
 * Responsive layout options.
 * 
 * Currently there are only four basic layouts, but this can be easily expanded.
 * For documentation's sake, I've named these layouts (in increasing width)
 * Phone, Intermediate, Tablet, and Desktop. No assumptions should be made 
 * from this naming scheme -- it's just an easy way to remember the 
 * approximate size of the screen -- there is no guarentee that a 
 * screen-width < 640px will necessarily belong to a mobile phone browser. 
 * 
 *   width <= 640px -- single column, full-width, fluid
 *      visual order: header, nav, content, sidebar1, sidebar2, footer
 *   640px < width > 780px -- single column, 640px-wide, centered
 *      visual order: header, nav, content, sidebar1, sidebar2, footer 
 *   780px <= width > 960px -- two column, 780px-wide, centered
 *      visual order: header, nav, sidebar1/content, sidebar2, footer
 *   960px >= width -- three columns, 960px wide, centered
 *      visual order: header, nav, sidebar1/content/sidebar2, footer
 * 
 * Note: comments that appy to all layouts will be found in the Phone
 * layout and won't be repeated in later layouts for brievity.
 * 
 * Default values from _grid.scss. Just FYI
 *    $grid-columns: 12;
 *    $grid-width: 60px;
 *    $grid-margin: 20px;
 */

/* 3a.Phone layout */
@media screen and (max-width: 640px) {
  /* Ignore the grid system at this width */
  #container {
    width: 100%;
    padding: 0 ($grid-margin / 2);
  }
  #header, #footer, #navigation, #sidebar-first, #sidebar-second {
    width: 100%;
  }
}

/* 3b.Intermeidate Layout */
@media screen and (min-width: 641px) and (max-width: 779px) {
  /* Ignore the grid system at this width */
  #container {
    width: 640px;
    margin: 0 auto;
    padding: 0 ($grid-margin / 2);
  }
  #header, #footer, #navigation, #sidebar-first, #sidebar-second {
    width: 100%;
  }
}

/* 3c.Tablet Layout */
@media screen and (min-width: 780px) and (max-width: 959px) {
  /* Container is now a 9-columns (720px) wide */
  $grid-columns = 9;
  
  /* Sidebar and content grid widths (33/66, 100) */
  $sidebar-first-width = 3;
  $sidebar-second-width = 9;
  $content-width = $grid-columns - $sidebar-first-width;
 
  #container {
    @include container();
  }
  #header, #footer, #navigation, #sidebar-second {
    @include column($grid-columns, true);
  }
  #main {
    @include column($content-width, true);
    @include prepend($sidebar-first-width);
  }
  #sidebar-first {
    @include column($sidebar-first-width);
    @include pull($content-width + $sidebar-first-width, true);
  }
  #sidebar-second {
    @include column($sidebar-second-width, true);
  }
}

/* 3d.Desktop Layout */
@media screen and (min-width: 960px) {
  /* Sidebar and content grid widths (25/50/25) */
  $grid-columns = 12; 
  $sidebar-first-width = 3;
  $sidebar-second-width = 3;
  $content-width = $grid-columns - $sidebar-first-width - $sidebar-second-width;
  
  /* Debug: */
  body {
    grid-columns: $grid-columns; 
    sidebar-first-width: $sidebar-first-width;
    sidebar-second-width: $sidebar-second-width;
    content-width: $content-width;
  }

  #container {
    @include container();
  }
  #header, #footer, #navigation {
    @include column($grid-columns, true);
  }
  #main {
    @include column($content-width);
    @include prepend($sidebar-first-width);
  }
  #sidebar-first {
    @include column($sidebar-first-width);
    @include pull($content-width + $sidebar-first-width);
  }
  #sidebar-second {
    @include column($sidebar-second-width, true);
  }  
}


/**
 * 6.HEADER
 */
#header {
  margin: 0;
  padding: 2.5em 0 0;
  position: relative;
  
  #logo {
    float: left;
    margin: 0 1em 1.5em 0;
  }
  #site-name-slogan {
    float: left;
    margin: 0 0 1.5em;
  }
  #site-name a:hover {
    text-decoration: none;
  }
  #site-slogan {
    margin: 0;
  }
}

/**
 * 7.NAVIGATION
 */
#navigation {
  ul#main-menu, ul#secondary-menu {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
      float: left;
      margin: 0;
      padding: 0;
      line-height: $base-line-height * 2;
      border: 1px solid $
      
      a {
        display: block;
        padding: 0 1em 0 1em;
        color: $color-nav;
        background-color: $color-nav-bkgd;
        
        &:hover {
          text-decoration: none;
          color: $color-nav-highlight;
          background-color: $color-nav-bkgd-highlight;
        }
      }
    }
  }
}

/* @TODO: need to Sassify... */
.breadcrumb {
  clear: both;
  padding: 1.5em 0 0;
}

#skip-link {
  position: absolute;
}

/* admin tabs */
.tabs-wrapper {
  border-bottom: 1px solid #333;
  margin: 0 0 1.4375em;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5em;
  margin: 0;
  padding: 0 1em;
}

ul.primary li a:hover, ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5em;
  padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

/**
 * 8.NODES
 */

.node {
  margin-bottom: 1.5em;
}

/* tags */

.field-name-field-tags {
  margin: 0 0 1.5em;
}

.field-name-field-tags .field-item {
  margin: 0 1em 0 0;
}

.field-name-field-tags div {
  display: inline;
}

/* profile */

.profile {
  margin: 1.5em 0;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.profile dd {
  margin-bottom: 1.5em;
}

.password-parent {
  width: 36em;
}

/**
 * 9.COMMENTS
 */

#comments {
  clear: both;
  margin-top: 1.5em;
}

.comment {
  margin-bottom: 1.5em;
}

.comment .new {
  color: red;
  text-transform: capitalize;
  margin-left: 1em;
}

/**
 * 10.BLOCKS
 */

.block {
  margin-bottom: 1.5em;
}

/**
 * 11.FOOTER
 */

#footer {
  position: relative;
}

#footer a.feed-icon {
  position: absolute;
  right: 0;
  top: 1.6667em;
}

/**
 * 12.CUSTOM STYLING
 */

/**
 * Import custom stying overrides -- this section should always be at the end
 * of sassy-framework.scss
 * 
 * Uncomment this line if you have styling overrides in a custom-styling.scss file
 */
/* @import "custom-styling"; */
